.slider-btn{
    color: black;
    height: 44px;
    width: 168px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #74c4ca 0%, #a477c4 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.fa-check-circle{
    color: rgba(32, 14, 168, 0.397);
}

.card-btn{
    color: rgba(63, 135, 245, 1);
    height: 45px;
    width: 207px;
    background-color: rgba(244, 150, 210, 0.185);
    border: none;
    border-radius: 24px;
    font-weight: 500;
}

.custom-crd-design{
    background-color: rgba(63, 135, 245, 1);
    border-radius: 26px;
    color: white;
}

.custom-crd-design .fa-check-circle{
    color: rgba(15, 5, 90, 0.397);
}

.custom-crd-design .card-btn{
    background-color: white;
}

.footer-right{
    height: 140px;
    width: 160px;
    color: white;
}

.footer-right .apple-logo{
    display: flex;
    height: 55px;
    width: 140px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.fa-apple{
    height: 30px;
    width: 22px;
}

.footer-right .android-logo{
    height: 40px;
    width: 135px;
}